function void main() { 
var boolean mybool1;

if ( 5 > 6)
{
	var int myInt1;
	mybool1 = myInt1 > 6;
	
	if ( mybool1 )
	{
		myInt1 = 6;
		
		while (myInt1 > 20 && mybool1)
		{
			var int i;
			myInt1 += i;
		}
	}
}
}

